<div class="px-16 pt-16 w-full h-full overflow-y-scroll">
  <div class="text-2xl">Inventory Audits</div>
  <div class="flex gap-x-4 p-2 items-center bg-gray-200 w-full mt-4">
    <span nz-icon nzType="bars" nzTheme="outline"></span>
    <span nz-icon nzType="double-right" nzTheme="outline"></span>
    Home
  </div>

  <div class="mt-4 p-2 w-full bg-sky-950 text-white">
    Audit Details > {{ data.name }}
  </div>

  <div class="w-full mt-2 p-2">
    <div>Audit - March 22, 2021</div>

    <div class="flex justify-between mt-2">
      <button
        nz-button
        nzType="primary"
        class="bg-green-300 py-2 px-4 rounded flex items-center gap-x-2"
      >
        <span nz-icon nzType="search"></span>
        Search
      </button>
      <button
        nz-button
        nzType="primary"
        class="bg-blue-500 py-2 px-4 rounded flex items-center gap-x-2 text-white"
      >
        Start New Audit
      </button>
    </div>

    <div class="mt-4">
      <nz-table
        #rowSelectionTable
        nzShowSizeChanger
        [nzData]="listOfData"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      >
        <thead>
          <tr>
            <th
              [nzSelections]="listOfSelection"
              [(nzChecked)]="checked"
              [nzIndeterminate]="indeterminate"
              (nzCheckedChange)="onAllChecked($event)"
            ></th>
            <th>Name</th>
            <th>
              <div class="flex justify-center">Counting UOM</div>
              <div class="flex justify-between">
                <div>Unit</div>
                <div>Count</div>
              </div>
            </th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data">
            <td
              [nzChecked]="setOfCheckedId.has(data.id)"
              (nzCheckedChange)="onItemChecked(data.id, $event)"
            ></td>
            <td>{{ data.name }}</td>
            <td>
              <div class="flex justify-between">
                <div>{{ data.uomUnit }}</div>
                <div>
                  <input
                    [(ngModel)]="data.uomCount"
                    type="number"
                    class="border rounded pl-2"
                  />
                </div>
              </div>
            </td>
            <td>{{ data.unitCost }}</td>
            <td class="flex justify-center gap-x-2">
              <a
                nz-button
                nzType="primary"
                class="bg-blue-500 py-2 px-4 rounded flex items-center gap-x-2 text-white pointer"
                (click)="onEditPress(data)"
              >
                Update
              </a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
